<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> GitHubStats </title>
  <script src="https://kit.fontawesome.com/e9bd562f5c.js" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js'></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base.css') }}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Teko:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  {% block content %}
    replace content
  {% endblock %}
</body>
</html>